<%- include('../partials/header') %>

  <h1>This is the books search page.</h1>
    <form action="">
        <input type="text">
        <button type="submit" class="btn">Search</button>
    </form>

<%- include('../partials/footer') %>