<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>/shelf</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/" class="navlink"><img src="./images/logo.png" id="navlogo"></a>
            </div>
            <div class="links">
                <a href="/shelves/index" class="navlink">my shelf</a>
                <a href="/books/index" class="navlink">books</a>
            </div>
            <div class="sign-in">
            <% if (user) { %>
                <a href="/logout" class="navlink">sign out</a>
                <img src="<%= user.avatar %>" id="avatar">
            <% } else { %>
                <a href="/auth/google" class="navlink">sign in</a>
                <img src="./images/anon.png" id="anonatar">
            <% } %>
            </div>
        </nav>
        <br>