<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>/shelf</title>
    </head>
    <nav>
        <a href="/" class="navlink">home</a> |
        <a href="/shelves/index" class="navlink">shelf</a> |
        <a href="/books/index" class="navlink">books</a> |
    </nav>
    <br>
    <body>