<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
        <title>/shelf</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/" class="navlink"><img src="/images/logo.png" id="navlogo"></a>
            </div>
            <div class="links">
                <a href="/shelves/index" class="navlink">my shelf</a>
                <a href="/books/index" class="navlink">books</a>
                <a href="/books/search" class="navlink">search</a>
            </div>
            <div class="sign-in">
            <% if (user) { %>
                <a href="/logout" class="navlink"><img src="<%= user.avatar %>" id="avatar"></a>
            <% } else { %>
                <a href="/auth/google" class="navlink"><img src="/images/anon.png" id="anonatar"></a>
            <% } %>
            </div>
        </nav>
        <br>